@charset "UTF-8";


main{max-width: 500px;}

#jatekter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}


#jatekter div img{
    width: 100%;

}
#jatekter div{
    padding: 10px;
    background-color: lightblue;
}
.kartya{
    cursor: grab;
    background-color: red !important;
}